<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <h4>MQTT</h4>
  <p>host : <%=mqtt.broker%>
  </p>
  <p>topic : <%=mqtt.topic%>
  </p>
  <p>port : 1883</p>

</body>

</html>